<div id="productsContainer">
  <h2>Carrito de compras</h2>
  <hr />

  {{#each resultado.products}}
    <p>ID:
      {{this.product.id}}, Name:
      {{this.product.title}}, Price:
      {{this.product.price}}, Quantity:
      {{this.quantity}}</p>
  {{/each}}

  <hr />
</div>